In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd
import yfinance as yf
import pandas_ta as ta
import MetaTrader5 as mt5
import datetime

In [2]:
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

In [3]:
# Set Symbol PAIR
symbol = "USDJPY"
# Set timeframe
timeframe = mt5.TIMEFRAME_D1

In [4]:
# Define Incial Date
start_date = datetime.datetime(2001, 1, 1)
# Last Value in range
end_date = datetime.datetime.now()

# Copy Data to variable 'rates'
rates = mt5.copy_rates_range(symbol, timeframe, start_date, end_date)

In [5]:
# Convert Time to Pandas format
data = pd.DataFrame(rates)
data['time'] = pd.to_datetime(data['time'], unit='s')  # Converta o tempo em segundos para o formato datetime
data.set_index('time', inplace=True)

# Finalize MT5 Connection
mt5.shutdown()

# Add Exponential Moving Avg and Relative STR
data['RSI'] = ta.rsi(data.close, lenght=14)
data['EMA20'] = ta.ema(data.close, lenght=20)
data['EMA50'] = ta.ema(data.close, lenght=50)
data['EMA100'] = ta.ema(data.close, lenght=100)

# Exiba os primeiros 10 registros
data.head(10)
data.info()
data = data.drop(['tick_volume', 'spread', 'real_volume'], axis=1)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5694 entries, 2001-01-02 to 2023-11-15
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         5694 non-null   float64
 1   high         5694 non-null   float64
 2   low          5694 non-null   float64
 3   close        5694 non-null   float64
 4   tick_volume  5694 non-null   uint64
 5   spread       5694 non-null   int32
 6   real_volume  5694 non-null   uint64
 7   RSI          5680 non-null   float64
 8   EMA20        5685 non-null   float64
 9   EMA50        5685 non-null   float64
 10  EMA100       5685 non-null   float64
dtypes: float64(8), int32(1), uint64(2)
memory usage: 511.6 KB

In [6]:
data.tail(5)

,open,high,low,close,RSI,EMA20,EMA50,EMA100
time,,,,,,,,
2023-11-09,150.938,151.386,150.768,151.347,60.408852,150.494254,150.494254,150.494254
2023-11-10,151.322,151.602,151.221,151.519,61.324438,150.680571,150.680571,150.680571
2023-11-13,151.439,151.907,151.205,151.723,62.434075,150.870104,150.870104,150.870104
2023-11-14,151.643,151.785,150.151,150.391,51.952838,150.782994,150.782994,150.782994
2023-11-15,150.328,150.790,150.274,150.559,53.024004,150.742268,150.742268,150.742268