In [ ]:
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

In [ ]:
# Set Symbol PAIR
symbol = "USDJPY"
# Set timeframe
timeframe = mt5.TIMEFRAME_D1

In [ ]:
# Defina a data de início
start_date = datetime.datetime(2001, 1, 1)

# Obtenha os dados históricos
rates = mt5.copy_rates_from(symbol, timeframe, start_date, 5000)  # 1000 barras a partir da data de início

In [ ]:
aa

In [2]:




# Converta os dados para um DataFrame do pandas
data = pd.DataFrame(rates)
data['time'] = pd.to_datetime(data['time'], unit='s')  # Converta o tempo em segundos para o formato datetime
data.set_index('time', inplace=True)

# Finalize a conexão com o MT5
mt5.shutdown()

# Exiba os primeiros 10 registros
data.head(10)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000 entries, 2003-08-27 to 2023-11-10
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         5000 non-null   float64
 1   high         5000 non-null   float64
 2   low          5000 non-null   float64
 3   close        5000 non-null   float64
 4   tick_volume  5000 non-null   uint64
 5   spread       5000 non-null   int32
 6   real_volume  5000 non-null   uint64
dtypes: float64(4), int32(1), uint64(2)
memory usage: 293.0 KB

In [4]:
data.tail(5)

,open,high,low,close,tick_volume,spread,real_volume
time,,,,,,,
2023-11-06,149.317,150.062,149.317,150.056,58628,2,0
2023-11-07,150.043,150.693,149.929,150.413,60747,2,0
2023-11-08,150.366,151.058,150.298,150.983,60164,2,0
2023-11-09,150.938,151.386,150.768,151.347,66380,0,0
2023-11-10,151.322,151.602,151.221,151.519,54452,2,0